<script src="{theme:javascript/jquery.slider.js}"></script>

<div class="home_banner">
	{if:$this->index_slide}
	<ul>
		{foreach:items=$this->index_slide}
		<li><a href="{$item['url']}" target="_blank"><img src="{url:/pic/thumb/img/$item[img]}" alt="{$item['name']}"></a></li>
		{/foreach}
	</ul>
	{/if}
</div>

<section class="shop_home_list_3">
	<ul>
		{foreach:items = Api::run('getCommendNew',88)}
		<li>
			<a href="{url:/site/products/id/$item['id']}">
				<i class="photo"><img class="goods_photo" data-src="{url:/pic/thumb/img/$item[img]/w/200/h/200}" alt="{$item['name']}"></i>
				<h3 class="name"><strong>{$item['name']}</strong></h3>
				<del class="old_price">￥{$item['market_price']}</del>
				<em class="price">{$item['sell_price']}</em>
			</a>
		</li>
		{/foreach}
	</ul>
</section>


<script>
$(function(){
	// 设置焦点图
	$(".home_banner").MobileSlider({width:720,height:360});
	// 给底部导航加上当前样式
	$(".nav_home").addClass('on');
	//显示抢购倒计时
	var cd_timer = new countdown();
	{if:isset($countNumsItem) && $countNumsItem}
	{foreach:items = $countNumsItem}
		cd_timer.add({$item});
	{/foreach}
	{/if}
})
</script>